sudo: false

install:
  - composer install

language: php
php:
  - '5.6'
  - '7.0'
  - hhvm

git:
  depth: 3

before_script:
  - phpenv config-rm xdebug.ini

script:
  - composer check-build
  - phpunit